$filePath: "../../../static/";

@font-face {
    font-family: 'SofiaPro';
    src: url($filePath+'fonts/SofiaProLight.eot');
    src: url($filePath+'fonts/SofiaProLight.eot') format('embedded-opentype'),
        url($filePath+'fonts/SofiaProLight.woff2') format('woff2'),
        url($filePath+'fonts/SofiaProLight.woff') format('woff'),
        url($filePath+'fonts/SofiaProLight.ttf') format('truetype'),
        url($filePath+'fonts/SofiaProLight.svg') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'SofiaPro';
    src: url($filePath+'fonts/SofiaPro-Regular.eot');
    src: url($filePath+'fonts/SofiaPro-Regular.eot') format('embedded-opentype'),
        url($filePath+'fonts/SofiaPro-Regular.woff2') format('woff2'),
        url($filePath+'fonts/SofiaPro-Regular.woff') format('woff'),
        url($filePath+'fonts/SofiaPro-Regular.ttf') format('truetype'),
        url($filePath+'fonts/SofiaPro-Regular.svg') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'SofiaPro';
    src: url($filePath+'fonts/SofiaPro-Medium.eot');
    src: url($filePath+'fonts/SofiaPro-Medium.eot') format('embedded-opentype'),
        url($filePath+'fonts/SofiaPro-Medium.woff2') format('woff2'),
        url($filePath+'fonts/SofiaPro-Medium.woff') format('woff'),
        url($filePath+'fonts/SofiaPro-Medium.ttf') format('truetype'),
        url($filePath+'fonts/SofiaPro-Medium.svg') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'SofiaPro';
    src: url($filePath+'fonts/SofiaPro-Bold.eot');
    src: url($filePath+'fonts/SofiaPro-Bold.eot') format('embedded-opentype'),
        url($filePath+'fonts/SofiaPro-Bold.woff2') format('woff2'),
        url($filePath+'fonts/SofiaPro-Bold.woff') format('woff'),
        url($filePath+'fonts/SofiaPro-Bold.ttf') format('truetype'),
        url($filePath+'fonts/SofiaPro-Bold.svg') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'Freight-BigBook';
    src: url($filePath+'fonts/Freight-BigBook.eot');
    src: url($filePath+'fonts/Freight-BigBook.eot') format('embedded-opentype'),
        url($filePath+'fonts/Freight-BigBook.woff2') format('woff2'),
        url($filePath+'fonts/Freight-BigBook.woff') format('woff'),
        url($filePath+'fonts/Freight-BigBook.ttf') format('truetype'),
        url($filePath+'fonts/Freight-BigBook.otf') format('opentype'),
        url($filePath+'fonts/Freight-BigBook.svg') format('svg');
}
