.btn {
    &-arrow {
        display: inline-block;
        color: $color-primary;
        font-size: 32px;
        position: relative;
        @include breakpoint(xmedium) {
            font-size: 22px;
        }

        &:after {
            left: calc(100% + 10px);
            position: absolute;
            background-image: url(../../../static/images/arrow-icon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 22px;
            width: 35px;
            content: "";
            bottom: 10px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            @include breakpoint(xmedium) {
                height: 16px;
                width: 25px;
                bottom: 5px;
            }
        }

        &:hover {
            &:after {
                left: calc(100% + 20px);
            }
        }
    }
}
