header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

    .navbar-brand {
        @include center(both);
        font-size: 35px;
        color: $color-primary;
        text-transform: capitalize;
    }

    .nav-group {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        li {
            list-style: none;
            display: inline-block;
            padding: 25px 0;

            &:not(:last-of-type) {
                padding-right: 60px;
            }

            a {
                text-transform: capitalize;
            }
        }
    }
}
