.contact-page {
    padding-top: 160px;

    @include breakpoint(xmedium) {
        padding-top: 140px;
    }

    @include breakpoint(small) {
        padding-top: 120px;
    }

    .section-wrapper {
        background-color: $color-secondery;
        text-align: center;
        padding-top: 60px;
        position: relative;
        margin-bottom: 110px;
        padding-bottom: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        @include breakpoint(large) {
            padding-bottom: 40px;
        }

        @include breakpoint(xmedium) {
            padding-bottom: 20px;
            padding-top: 40px;
        }

        @include breakpoint(small) {
            padding-top: 10px;
        }
    }

    .section-heading {
        position: absolute;
        left: 30px;
        top: -100px;
        z-index: 9;

        @include breakpoint(large) {
            left: 20px;
        }

        @include breakpoint(xmedium) {
            left: 0;
        }

        @include breakpoint(small) {
            top: 170px;
            left: -10px;
        }

        h1 {
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-text-orientation: mixed;
            text-orientation: mixed;
            font-family: $font-family-freight;
            color: $color-primary;
            white-space: nowrap;
            font-size: 400px;
            font-weight: 300;
            letter-spacing: -10px;

            @include breakpoint(large) {
                font-size: 370px;
            }

            @include breakpoint(xmedium) {
                font-size: 260px;
            }

            @include breakpoint(small) {
                font-size: 130px;
                letter-spacing: -5px;
            }
        }

    }

    h2 {

        font-size: 100px;
        text-align: center;
        width: 100%;
        margin-bottom: -40px;
        position: relative;
        z-index: 2;

        @include breakpoint(large) {
            font-size: 70px;
            margin-bottom: -25px;
        }

        @include breakpoint(xmedium) {
            font-size: 60px;
            margin-bottom: -20px;
        }
    }

    .detail-box {
        max-width: 520px;
        margin: 60px auto 0;
        position: relative;

        &:nth-child(3) {
            -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
            order: -1;
        }

        h4 {
            font-family: $font-family-freight;
            font-size: 32px;
            font-weight: 400;
            color: $color-primary;

            @include breakpoint(xmedium) {
                font-size: 24px;
            }
        }

        a {
            font-size: 58px;

            @include breakpoint(large) {
                font-size: 45px;
            }

            @include breakpoint(xmedium) {
                font-size: 24px;
                max-width: 220px;
                display: block;
            }
        }

        &:last-child {
            a {
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 100%;
            }
        }
    }

    .map-box {
        margin-top: 80px;
        height: 500px;
        width: 100%;
        position: relative;

        @include breakpoint(xmedium) {
            margin-top: 50px;
            height: 350px;
        }

        @include breakpoint(small) {
            height: 250px;
        }

    }
}
