.banner-section {
    position: relative;

    &.about-section {

        .colmn-text {
            padding-left: 150px;
            max-width: 35%;
        }

        .text-bar {
            bottom: -100px;
            text-align: left;
            left: -40px;
            width: calc(100% + 40px);

            h2 {
                font-size: 260px;
                text-align: center;

            }
        }
    }

    &.meet-banner-section {
        .text-bar {
            bottom: -110px;

            h2 {
                font-size: 320px;
            }
        }

        figure {
            width: 100%;
            max-width: 1100px;
            height: auto;
            margin: 0 auto;

        }
    }

    .flex {
        max-width: 1920px;
        height: 100vh;
    }

    .text-bar {
        position: absolute;
        bottom: -150px;
        left: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;

        h2 {
            font-size: 444px;
            color: $color-primary;
            font-family: $font-family-freight;
            font-weight: 400;
            white-space: nowrap;
            text-transform: capitalize;

        }
    }

    .colmn-text {
        padding-left: 60px;
        max-width: 520px;

        h1 {
            font-size: 100px;
            line-height: 1;
            font-weight: 400;

        }

        p {
            margin-bottom: 30px;
            font-weight: 300;
        }
    }

    figure {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }

    }
}
