.service-hero-section {
    padding: 170px 0;
    background-color: $color-secondery;

    .wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }

    .image-group {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        figure {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;

            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }

    .colmn-text {
        width: 50%;
        padding-right: 100px;
        margin-left: auto;
        margin-top: -80px;

        h2 {
            margin-bottom: 40px;
        }
    }

}

.service-accordion {
    padding: 0px 60px;
    margin-top: -65px;
    background-color: transparent;
    margin-bottom: 100px;

    @include breakpoint(large) {
        padding: 0 40px;
    }

    @include breakpoint(xmedium) {
        margin-bottom: 30px;
    }

    @include breakpoint(small) {
        margin-bottom: 140px;
    }

    @include breakpoint(largeMobile) {
        padding: 0 20px;
    }

    .container {
        max-width: unset;
        padding: 0;
    }

    .accordion-section {
        margin-top: 0;

        @include breakpoint(large) {
            padding-left: 0;
        }

        .accordion-box {
            &:not(:last-of-type) {
                @include breakpoint(large) {
                    margin-bottom: 50px;
                }

                @include breakpoint(xmedium) {
                    margin-bottom: 30px;
                }

                @include breakpoint(small) {
                    margin-bottom: 70px;
                }
            }

            &:nth-of-type(1) {
                .accordion-body {
                    .align-center {
                        -webkit-box-align: start;
                        -ms-flex-align: start;
                        align-items: flex-start;
                    }
                }
            }

            &:nth-of-type(2) {
                .accordion-body {
                    padding-left: 150px;
                    width: 100%;
                    padding-right: 50px;

                    @include breakpoint(xlarge) {
                        padding-left: 80px;
                        padding-right: 0;
                    }

                    @include breakpoint(xmedium) {
                        padding-left: 0px;
                    }

                    .flex {
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    }

                    .text-box {
                        width: calc(50% - 60px);
                        margin-bottom: 40px;

                        @include breakpoint(xmedium) {
                            width: calc(50% - 30px);
                        }

                        @include breakpoint(small) {
                            width: 100%;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }

        .accordion-head {
            width: 100%;
            display: block;
            background-color: transparent;

            h3 {
                background-color: transparent;
            }

            .text-box {
                width: 600px;
                margin-top: 30px;

                @include breakpoint(small) {
                    width: 100%;
                }
            }

            &:after {
                display: none;

            }

            &.active {
                .heading-box {
                    &:before {
                        content: "Close";
                    }
                }
            }

            .heading-box {
                width: 100%;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;

                &:after {
                    width: calc(100% - 600px);
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                    left: auto;
                    top: 65px;
                    right: 200px;

                    @include breakpoint(xmedium) {
                        width: calc(100% - 420px);
                    }

                    @include breakpoint(small) {
                        width: 80%;
                        top: calc(100% + 40px);
                        left: 0;
                    }
                }

                &:before {
                    content: 'Learn More';
                    background-color: transparent;
                    font-size: 32px;
                    padding-top: 43px;
                    color: $color-primary;
                    top: 0;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);

                    @include breakpoint(small) {
                        font-size: 20px;
                        top: calc(100% + 28px);
                        padding: 0 0 0 30px;
                        background: #fff;
                    }
                }

            }

            h3 {
                background-color: transparent;
                width: 510px;
                font-size: 100px;
                padding: 0;

                @include breakpoint(xmedium) {
                    font-size: 50px;
                    line-height: 1.2;
                    width: 260px;
                    margin-top: 25px;
                }

            }
        }

        .accordion-body {
            width: 600px;
            margin-top: 50px;

            @include breakpoint(small) {
                width: 100%;
            }

            &.selling-body {
                padding-left: 150px;

                .flex {
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }

                .colmn-box {
                    width: calc(50% - 60px);
                    margin-bottom: 40px;
                }
            }

            .text-box {
                width: 50%;
                margin-bottom: 30px;

                @include breakpoint(xmedium) {
                    width: 100%;
                    margin-bottom: 20px;
                }

                &:last-of-type,
                &:nth-last-of-type(2) {
                    margin-bottom: 0;
                }

                h3 {
                    font-family: $font-family-freight;
                    font-weight: 300;
                    margin-bottom: 15px;
                    font-size: 48px;

                    @include breakpoint(xlarge) {
                        font-size: 40px;
                    }

                    @include breakpoint(xmedium) {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;

                    @include breakpoint(xmedium) {
                        font-size: 15px;
                    }
                }

                li {
                    list-style: none;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;
                    padding-left: 14px;
                    position: relative;

                    @include breakpoint(xmedium) {
                        font-size: 15px;
                    }

                    &:after {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 7px;
                        background-color: $color-black;
                        height: 1px;
                        content: "";
                    }
                }
            }
        }
    }
}
