.service-hero-section {
    padding-top: 180px;
    background-color: $color-secondery;
    padding-bottom: 170px;

    .wrapper {
        max-width: 1920px;
        margin: 0 auto;
    }

    .image-group {
        width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        figure {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;

            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }

    .colmn-text {
        width: 50%;
        padding-right: 100px;
        margin-left: auto;
        margin-top: -80px;

        h2 {
            margin-bottom: 40px;
        }
    }

}

.service-accordion {
    padding: 0px 60px;
    margin-top: -65px;
    background-color: transparent;
    margin-bottom: 100px;

    .container {
        max-width: unset;
        padding: 0;
    }

    .accordion-section {
        margin-top: 0;

        .accordion-box {
            &:nth-of-type(2) {
                .accordion-body {
                    padding-left: 150px;
                    width: 100%;

                    .flex {
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    }

                    .text-box {
                        width: calc(50% - 60px);
                        margin-bottom: 40px;
                    }
                }
            }
        }

        .accordion-head {
            width: 100%;
            display: block;
            background-color: transparent;

            h3 {
                background-color: transparent;
            }

            .text-box {
                width: 600px;
                margin-top: 30px;
            }

            &:after {
                display: none;

            }

            .heading-box {
                width: 100%;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;

                &:after {
                    width: calc(100% - 600px);
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                    left: auto;
                    top: 65px;
                    right: 200px;
                }

                &:before {
                    content: 'Learn More';
                    background-color: transparent;
                    font-size: 32px;
                    padding-top: 43px;
                    color: $color-primary;
                    top: 0;
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }

            }

            h3 {
                background-color: transparent;
                width: 510px;
                font-size: 100px;
                padding: 0;

            }
        }

        .accordion-body {
            width: 600px;



            &.selling-body {
                padding-left: 150px;

                .flex {
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                }

                .colmn-box {
                    width: calc(50% - 60px);
                    margin-bottom: 40px;
                }
            }

            .text-box {
                width: 50%;
                margin-bottom: 30px;

                &:last-of-type,
                &:nth-last-of-type(2) {
                    margin-bottom: 0;
                }

                h3 {
                    font-family: $font-family-freight;
                    font-weight: 300;
                    margin-bottom: 15px;
                    font-size: 48px;
                }

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                li {
                    list-style: none;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;
                    padding-left: 14px;
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 7px;
                        background-color: $color-black;
                        height: 1px;
                        content: "";
                    }
                }
            }
        }
    }
}
