footer {
    background-color: $color-primary;
    padding-top: 70px;
    position: relative;

    @include breakpoint(xmedium) {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .container {
        max-width: unset;
    }

    .flex {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .legal-box {
        @include breakpoint(small) {
            .colmn-box:nth-child(2) {
                -webkit-box-ordinal-group: 0;
                    -ms-flex-order: -1;
                        order: -1;
            }
        }
    }

    * {
        color: $color-white;
    }

    .colmn-box {
        margin-bottom: 60px;

        @include breakpoint(xmedium) {
            margin-bottom: 50px;
        }

        @include breakpoint(small) {
            width: 100%;
            margin-bottom: 25px;
        }

        &.info {
            padding-top: 30px;

            @include breakpoint(small) {
                padding-top: 0;
            }
        }
    }

    li {
        list-style: none;
        margin-bottom: 15px;
    }

    .footer-brand {
        font-size: 40px;
        color: $color-white;
        text-transform: capitalize;

        @include breakpoint(xmedium) {
            font-size: 36px;
        }
    }

    .privacy-nav {
        li {
            display: inline-block;
            margin-bottom: 0;
            padding: 0px 15px;

            &:first-of-type {
                padding-left: 0;
            }

            &:not(:first-of-type) {
                border-left: solid 1px $color-white;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}
